In [ ]:
#print statement

In [1]:
print("HOPE AI")

HOPE AI

In [ ]:
#Buy input

In [2]:
ins=input("Enter your institute name? :")

Enter your institute name? : HOPE AI

In [3]:
name=input("Enter your name:")
age=input("Enter your age:")
school=input("Enter your school:")
degree=input("Enter your degree:")

Enter your name: Raj
Enter your age: 15
Enter your school: guru school
Enter your degree: B.E CSE

In [ ]:
#Addition

In [4]:
num1=43
print("a=",num1)
num2=34
print("b=",num2)
add=num1+num2
print("add=",add)

a= 43
b= 34
add= 77

In [ ]:
#subtraction

In [5]:
num1=43
print("a=",num1)
num2=34
print("b=",num2)
sub=num1-num2
print("sub=",sub)

a= 43
b= 34
sub= 9

In [ ]:
#multiplication

In [6]:
num1=63
print("a=",num1)
num2=97
print("b=",num2)
mul=num1*num2
print("mul=",mul)

a= 63
b= 97
mul= 6111

In [ ]:
#Division

In [7]:
num1=76
print("a=",num1)
num2=31
print("b=",num2)
div=num1/num2
print("float div=",div)

a= 76
b= 31
float div= 2.4516129032258065

In [9]:
num1=76
print("a=",num1)
num2=31
print("b=",num2)
div=num1//num2
print("floor div=",div)

a= 76
b= 31
floor div= 2

In [ ]:
#modulo

In [10]:
num1=76
print("a=",num1)
num2=31
print("b=",num2)
mod=num1%num2
print("modulo=",mod)

a= 76
b= 31
modulo= 14